*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
.headerBox{
    display: flex;
   background: linear-gradient(#7F7FD5,#86A8E7,#91EAE4);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.navlinks ul{
    display: flex;
    flex-wrap: wrap;
}
.navlinks li {
    margin: 0 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.imag2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

h1{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 25px;
}

h2{
    margin-left: 70px;
    color: yellow;
    font-family: monospace;
    font-size: 20px;

}

.img3{
   background:linear-gradient(#373B44,#4286f4) ;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   border: 1px solid slateblue;
   border-radius: 15px 15px;
   
}

.img3>img{
    border: 1px solid slateblue;
    border-radius: 15px 15px;
}


h3{
    margin-left: 100px;
    margin-top: 10px;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

img{
    margin-top: 20px;
   
   
}

h4{
    font-size: 20px;
    margin-top: 20px;
    color: white;
    font-family: monospace;
}


@media screen and (max-width:768px) and (min-width:320px){
        h1{
            font-size: 15px;
            margin-right: 70px;
        }

        h2{
            font-size: 15px;
            margin-right: 70px;
        }

        h3{
            font-size: 15px;
            margin-right: 70px;
        }
        h4{
            font-size: 15px;
        }

        img{
            height: 400px;
        }

         .navlinks li{
            font-size: 12px;
        }

        .headerBox{
           height: 200px;
            
        }

        .logo>img{
            width: 200px;
            height: 150px;
            
        }
}



